<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descripción del Proyecto</title>
    <link rel="stylesheet" th:href="@{/css/despliegue.css}">
</head>
<body>
    <!-- Nav Bar -->
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <img th:src="@{/assets/icons/wiki-logo.png}" class="wiki" alt="Logo del WikiGroup">
                <h1 class="logo-nombre"><a th:href="@{/taller-thymeleaf/equipo}">WikiGroup</a></h1>
            </div>
            <ul>
                <li><a href="#" th:href="@{/taller-thymeleaf/equipo}">Presentación</a></li>
                    <li><a href="#" th:href="@{/taller-thymeleaf/descriProyecto}">Descripción</a></li>
                    <li><a href="#" th:href="@{/taller-thymeleaf/reqs}">Requerimientos</a></li>
                    <li><a href="#" th:href="@{/taller-thymeleaf/arquiProyecto}">Arquitectura</a></li>
                    <li><a href="#" th:href="@{/taller-thymeleaf/desarrollo}">Desarrollo</a></li>
                    <li><a href="#" th:href="@{/taller-thymeleaf/pruebas}">Pruebas</a></li>
                    <li><a href="#" th:href="@{/taller-thymeleaf/despliegue}">Despliegue</a></li>
                    <li><a href="#" th:href="@{/taller-thymeleaf/contactanos}">Contáctanos</a></li>
            </ul>
        </div>
    </nav>

    <!-- Despliegue -->
    <div class="versiones">
        <h1>Historial de Versiones</h1>
        <p><b>1.0:</b> Template de la página</p>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <h6>WikiGroup 2024</h6>
            <img th:src="@{/assets/icons/copyright.png}" alt="Copyright">
        </div>
    </footer>

    <script th:src="@{/js/menuPrincipal.js}"></script>
</body>
</html>
