<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Integrantes del Equipo</title>
        <link rel="stylesheet" th:href="@{/css/equipo.css}">
    </head>
    
    <body>
        <!-- Nav Bar -->
        <nav class="navbar">
            <div class="container">
                <div class="logo">
                    <img th:src="@{/assets/icons/wiki-logo.png}" class="wiki" alt="logo del WikiGroup">
                    <h1 class="logo-nombre"><a href="#" th:href="@{/taller-thymeleaf/equipo}">WikiGroup</a></h1>
                </div>
                <ul>
                    <li><a href="#" th:href="@{/taller-thymeleaf/equipo}">Presentación</a></li>
                    <li><a href="#" th:href="@{/taller-thymeleaf/descriProyecto}">Descripción</a></li>
                    <li><a href="#" th:href="@{/taller-thymeleaf/reqs}">Requerimientos</a></li>
                    <li><a href="#" th:href="@{/taller-thymeleaf/arquiProyecto}">Arquitectura</a></li>
                    <li><a href="#" th:href="@{/taller-thymeleaf/desarrollo}">Desarrollo</a></li>
                    <li><a href="#" th:href="@{/taller-thymeleaf/pruebas}">Pruebas</a></li>
                    <li><a href="#" th:href="@{/taller-thymeleaf/despliegue}">Despliegue</a></li>
                    <li><a href="#" th:href="@{/taller-thymeleaf/contactanos}">Contáctanos</a></li>
                </ul>
            </div>
        </nav>

        <!-- Equipo -->
        <div class="title">
            <h1>La banda del halcón</h1>
        </div>    

        <section class="equipo">
            <div class="container 1">
                <div class="equipo-box jorge">
                    <h3><a href="https://github.com/JorgeETorradoF" target="_blank">Jorge Torrado</a></h3>
                    <h5>Ingeniero DevOps</h5>
                    <img width="300px" th:src="@{/assets/photos/fotoJorge.png}" alt="">
                    <p>Experiencia en programación con: <br> Python, Java, C++, Lua, Kotlin y ROS</p>
                </div>

                <div class="equipo-box Erick">
                    <h3><a href="https://github.com/Erickcg2014" target="_blank">Erick Camargo</a></h3>
                    <h5>Scrum Master</h5>
                    <img width="300px" th:src="@{/assets/photos/fotoErick.png}" alt="">
                    <p>Experiencia en programación con: <br> Java, Python, C y C++</p>
                </div>

                <div class="equipo-box juan">
                    <h3><a href="https://github.com/FTTE27" target="_blank">Juan Vásquez</a></h3>
                    <h5>Desarrollador BackEnd</h5>
                    <img width="300px" th:src="@{/assets/photos/fotoVasquez.png}" alt="">
                    <p>Experiencia en programación con: <br> Python, Java, C y C++</p>
                </div>
            </div>

            <div class="container 2">
                <div class="equipo-box zenen">
                    <h3><a href="https://github.com/zenencontreras" target="_blank">Zenen Contreras</a></h3>
                    <h5>Desarrollador FrontEnd</h5>
                    <img width="300px" th:src="@{/assets/photos/fotoZenen.png}" alt="">
                    <p>Experiencia en programación con: <br> Python, Java, Html5, CSS y JavaScript</p>
                </div>

                <div class="equipo-box x">
                    <h3><a href="https://github.com/CIFU1104" target="_blank">Juan Cifuentes</a></h3>
                    <h5>Desarrollador BackEnd</h5>
                    <img width="300px" th:src="@{/assets/icons/persona.png}" alt="">
                    <p>Experiencia en programación con: <br> Python, Java, C++ y Kotlin</p>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <h6>WikiGroup 2024</h6>
                <img th:src="@{/assets/icons/copyright.png}" alt="copyright">
            </div>
        </footer>
        <script th:src="@{/js/menuPrincipal.js}"></script>
    </body>
</html>
